body {
    background-color:	#FFF1D0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a.primary:link {
    color: #18508A;
    text-decoration: none;
  }
  a.primary:visited {
    color: #18508A;
    text-decoration: none;
  }
  a.primary:hover {
    color: #18508A;
    text-decoration: underline;
  }
  a.primary:active {
    color: #00BDA2;
    text-decoration: underline;
  }

  a.secondary:link {
    color: #00BDA2;
    text-decoration: none;
  }
  a.secondary:visited {
    color: #00BDA2;
    text-decoration: none;
  }
  a.secondary:hover {
    color: #00BDA2;
    text-decoration: underline;
  }
  a.secondary:active {
    color: #18508A;
    text-decoration: underline;
  }

.intro {
    margin-top: 7%;
    margin-left: 7%;
}

#intro-heading {
z-index: 0;
    font-size: 7rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#intro-heading-chat {
    color:#00BDA2;
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    animation-name: chat;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.fa-frog{
    color:#00BDA2;
}
.links {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#networks {
    margin-top: 2%;
}
#green-circle {
  
    left:-20vw; 
    top:50vh;
    border-radius: 50%;
    background-color:#00BDA2;
    position: absolute;
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    z-index: -1;
  }

#blue-circle {
    left:65vw; 
    top:-75vh;
    border-radius: 50%;
    background-color:#18508A;
    position: absolute;
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    z-index: -1;
}

/* .grey-circle {
    width: 70vh;
    height: 70vh;
    border-radius: 50%;
    background-color:#333333;
    position: absolute;
    animation-name: example2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  } */
  /* div:hover {
    animation-play-state: paused;
} */
  /* @keyframes example2 {
    0%   {left:1500px; top:500px;}
    100%  {left:-400px; top:500px;}
  } */
  @keyframes example {
    0%   { width: 90vmax; height: 90vmax}
    100%  {width: 95vmax; height: 95vmax}
  }

  @keyframes enlarge {
    0%   {width: 90vmax; height: 90vmax;transform: scale(1,1)}
    100% {width: 90vmax; height: 90vmax;transform: scale(8,8)}
  }

  @keyframes unenlarge {
    0%   {width: 90vmax; height: 90vmax;transform: scale(8,8)}
    100% {width: 90vmax; height: 90vmax;transform: scale(1,1)}
  }

  @keyframes chat {
    0%   {opacity:0;transform: translateX(50px);}
    30%  {opacity:1;transform: translateY(0px);}
    80%  {opacity:1;transform: translateY(0px);}
    100% {opacity:0;transform: translateY(0px);}
  }



  #green-circle.horizTranslate {
    animation-name: enlarge;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
  }

  #green-circle.horizTranslate2 {
    animation-name: unenlarge;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
  }

  #blue-circle.horizTranslate {
    animation-name: enlarge;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
  }

  #blue-circle.horizTranslate2 {
    animation-name: unenlarge;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
  }

  .fadeout {
    -webkit-animation: fadeout 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 0.5s; /* Firefox < 16 */
        -ms-animation: fadeout 0.5s; /* Internet Explorer */
         -o-animation: fadeout 0.5s; /* Opera < 12.1 */
            animation: fadeout 0.5s;
            animation-fill-mode: forwards; 
  }


  .fadein {
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
            animation-fill-mode: forwards; 
  }

  #experiences {
    position: relative;
    opacity: 0;
    display: none;
    z-index: 5;
    font-size: 1.6rem;
    font-weight: 350;
    line-height: 1.2;
  }

  #projects {
    position: relative;
    opacity: 0;
    display: none;
    z-index: 5;
    color: white;
    font-size: 1.6rem;
    font-weight: 350;
    line-height: 1.2;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

